.banner {
  margin-top: -8rem;
  padding: 260px 0 100px 0;
  background-image: url("../assets/img/banner-bg.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100%;
  overflow-x: hidden; */
  z-index: 999;
}
.banner .tagline {
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  border-radius: 5px;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  );
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
}
.banner h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  /* width: 40rem; */
}
.banner p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  /* width: 96%; */
}
.banner button {
  color: #fff;
  background-color: transparent;
  font-weight: 700;
  border: none;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.banner-row {
  display: flex;
  animation: moveLeftToRight 0.7s linear;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
  cursor: pointer;
}
.banner img {
  max-width: 30rem;
  height: 25rem;
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}
@keyframes moveLeftToRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 800px) {
  .banner h1 {
    width: 100vw;
  }
  .banner p {
    width: 96vw;
  }
  .banner-row {
    display: flex;
    flex-direction: column;
  }
  .banner {
    margin-right: -6.5rem;
  }
  .banner img {
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    height: 22rem;
  }
  .banner-row {
    animation: moveLeftToRight 0.5s linear;
  }
}
@media (max-width:380px){
  .banner {
    margin-right: -8rem;
  }
}
