.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #00aced; /* Change the color on hover */
    filter: drop-shadow( 0 0 5px #00aced);
  }
  .upbtn{
    color: #ffffff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    margin-top: -5rem;
    right: 4rem;
  }
  .up:hover{
    color: #00aced;
    filter: drop-shadow(0 0 5px );
  }
  .upbtn .up{
    font-size: 2rem;
    animation: up 2s linear infinite;
  }
  @keyframes up {
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-5px);
    }
    100%{
      transform:translateY(0)
    }
  }
  @media (max-width:800px){
    .footer{
      margin-right: -6.5rem;
    }
    .upbtn{
      position: absolute;
      right: -3.5rem;
    }
  }
  @media (max-width:380px){
    .footer{
      margin-right: -8rem;
    }
  }