@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
#project {
  font-family: "Roboto", sans-serif;
  margin-top: -1.5rem;
  text-align: center;
  background-color: #121212;
  color: #ffffff;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
h2 {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 20px;
  color: #ead24e;
  @media (max-width: 768px) {
    margin-top: 12px;
    font-size: 1.8rem;
  }
}
.project-card {
  width: 15rem;
  border-radius: 0.7rem !important;
  background-color: rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 4px 8px rgba(101, 100, 104, 0.8) !important;
  padding: 20px;
  color: #ffffff !important;
  margin-bottom: 2rem;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(25, 80, 163, 0.664) !important;
}
.desc {
  color: #ffffff !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
}
.desc::after {
  content: '';
  height: 1.2em; 
}
.project-image {
  width: 100%;
  height: 10rem;
  border-radius: 0.7rem;
  object-fit: cover;
}
.card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.github-icon,
.view-icon {
  margin-top: -0.25rem;
}

.view-btn:hover,
.source-code-btn:hover {
  border: 0.5px solid #fff;
  box-shadow: 0 8px 16px rgba(23, 58, 110, 0.664) !important;
}
@media (max-width: 800px) {
  #project {
    margin-right: -6.5rem ;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  .project-card{
    width: 18rem;
  }
}
@media (max-width:380px){
  #project {
    margin-right: -8rem ;
  }
}